<div *ngIf="githubRepos" class="card mt-3">
    <div class="card-header">
        <h4>Github Repositories</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li *ngFor="let githubRepo of githubRepos" class="list-group-item d-flex justify-content-between">
                <a [href]="githubRepo.html_url" class="text-primary" target="_blank">{{githubRepo.name}}</a>
                <span class="btn btn-success">{{githubRepo.stargazers_count}} Stars</span>
                <span class="btn btn-primary">{{githubRepo.watchers_count}} Watching</span>
                <span class="btn btn-danger">{{githubRepo.forks_count}} Forks</span>
                <span class="btn btn-warning"> Last updated: {{githubRepo.updated_at | date}}</span>
                <span class="btn btn-primary"> Languages: {{githubRepo.language}}</span>
            </li>
        </ul>
    </div>
</div>
