.profile {
  margin-top: 10px;
}

.bio img {
  width: 350px;
  height: 350px;
  margin-left: 150px;
  border-radius: 50%;
}

.list-group {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 25px;
}

.profile-data {
  margin-top: 20px;
}

.profile-data button {
  font-size: 25px;
  margin-left: 25px;
  background-color: grey;
  color: white;
  border: white;
  border-radius: 15px;
}

.profile-data button:hover {
  background-color: lightblue;
  color: black;
}

.repos h3 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
}

.card-title {
  font-size: 25px;
}

.card-text {
  font-size: 20px;
}

.card-body a {
  font-size: 20px;
  text-decoration: none;
  color: green;
}

.card-body a:hover {
  color: lightblue;
}
