<div class="profile" *ngIf="info">
    <div class="panel panel-default">
      <div class="user-profile">
        <div class="row">
          <!-- Bio section -->
          <div class="bio col-sm-4">
            <img src="{{info.avatar_url}}" class=" img-responsive"
            alt="Image"/>
            <ul class="list-group">
              <li class="list-group-item fw-bold" *ngIf = "info.name">{{info.name}}</li>
              <li class="list-group-item" *ngIf = "info.location"><span class="fw-bold">Location: </span>{{info.location}}</li>
              <li class="list-group-item" *ngIf = "info.company"><span class="fw-bold">Company: </span>Works at {{info.company}}</li>
              <li class="list-group-item" *ngIf="info.created_at"><span class="fw-bold">Member since: </span>{{info.created_at | date}}</li>
              <li class="list-group-item" *ngIf="info.bio"><span class="fw-bold">Bio: </span>{{info.bio}}</li>
              <li class="list-group-item" *ngIf="info.hireable"><span class="fw-bold">Availability: </span>Available for hire</li>
              <li class="list-group-item" *ngIf="info.blog">
                <a href="{{info.blog}}"><span class="fw-bold">Blog: </span>{{info.blog}}</a></li>
              <li class="list-group-item" *ngIf="info.email">
                <a href="{{info.email}}" target="_blank"><span class="fw-bold">Email: </span>{{info.email}}</a></li>
              <li class="list-group-item mt-2" id="github-link">
                <a href="{{info.html_url}}" target="_blank">View Github Profile</a>
              </li>
            </ul>

            <!-- Following -->
            <div class="profile-data">
              <div class="followers">
                <button class="btn">{{info.followers}} Followers</button>
              </div>
              <div class="following mt-2">
                <button class="btn">{{info.following}} Following</button>
              </div>
              <div class="public-gists mt-2">
                <button class="btn">{{info.public_gists}} Public gists</button>
              </div>
              <div class="following mt-2">
                <button class="btn">{{info.public_repos}} public repositories</button>
              </div>
            </div>
          </div>
          <!-- Repositories -->
          <div class="repos col-sm-8">
            <h3>Github Repositories</h3>
            <div class="card mt-2" *ngFor="let repo of repos">
              <div class="card-body">
                <h4 class="card-title">{{repo.name}}</h4>
                <p class="card-text">{{repo.description}}</p>
                <a href="{{repo.html_url}}" target="_blank">Check repo on Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
