<!-- spinner while loading search -->
<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#0fe222" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading...</p></ngx-spinner>  -->

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h4>Github User Search</h4>
                </div>
                <div class="card-body">
                    <form class="d-flex">
                        <div class="form-group">
                            <input name="user" size="40" type="text" class="form-control" placeholder="Search github user" required>
                        </div>
                        
                        <div>
                            <button type="submit" class="btn btn-success btn-md">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- User Profile -->
    <!-- <div class="row">
        <div class="col">
            <app-user-profile [githubProfile]="githubProfile"></app-user-profile>
        </div>
    </div> -->

    <!-- User Repositories -->
    <!-- <div class="row">
        <div class="col">
            <app-user-repos [githubRepos]="githubRepos"></app-user-repos>
        </div>
    </div> -->
</div>
